body {
    background: rgb(101, 163, 255);
    color: white;
    font: normal 15pt Arial;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.384);
    color: black;
    margin: auto;
    padding: 15px;
    width: 500px;
}

footer {
    font-style: italic;
    text-align: center;
}